<app-tablet-frame>
  <div class="frame">
    <header class="topbar">
      <nav class="topnav" i18n-aria-label="@@nav.mainAria" aria-label="Hovedmenu">
        <a
          routerLink="/"
          routerLinkActive="is-active"
          [routerLinkActiveOptions]="{ exact: true }"
          i18n="@@nav.home"
        >
          Hjem
        </a>
        <a routerLink="/rum" routerLinkActive="is-active" i18n="@@nav.rooms">Rum</a>
        <a routerLink="/enheder" routerLinkActive="is-active" i18n="@@nav.devices">Enheder</a>
      </nav>
      <div class="topbar__spacer"></div>
      @if (onDevicesPage()) {
        <button
          type="button"
          class="btn--nav-primary"
          (click)="openAddDevice()"
          i18n="@@nav.addDevice"
        >
          + Tilføj enhed
        </button>
      } @else {
        <div class="add-menu">
          <button
            type="button"
            class="btn--nav"
            [attr.aria-expanded]="addMenuOpen()"
            (click)="toggleAddMenu()"
            i18n="@@nav.add"
          >
            + Tilføj
          </button>
          @if (addMenuOpen()) {
            <button
              type="button"
              class="add-menu__backdrop"
              i18n-aria-label="@@nav.closeMenuAria"
              aria-label="Luk menu"
              (click)="closeAddMenu()"
            ></button>
            <div class="add-menu__panel">
              <button type="button" (click)="openAddDevice()">
                <ng-container i18n="@@addDevice.title">Tilføj enhed</ng-container>
              </button>
              <button type="button" (click)="openCreateRoom()">
                <ng-container i18n="@@createRoom.title">Opret rum</ng-container>
              </button>
            </div>
          }
        </div>
      }
    </header>
    <main class="content">
      <router-outlet />
    </main>
  </div>
  <app-dialog-host />
  <app-toast-host />
</app-tablet-frame>
